# Основний фреймворк
aiogram==3.12.0

# Telegram API
telethon==1.36.0

# HTTP клієнт
aiohttp==3.10.0

# Для роботи з .env файлами
python-dotenv==1.0.1

# Для асинхронного програмування (може бути вже встановлено)
asyncio>=3.4.3

# Версія Python
python>=3.9
